@mixin breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #08001f, #30197d);
  background-color: #fff;
}

html,
body,
header {
  height: 100%;
}



/* header:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(34, 34, 34, 0.7);
} */

.content {
  position: relative;
  z-index: 1;
}

/* .highlight {
  background-color: #ffe600;
} */

h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

h1 span {
  font-weight: 100;
}

@include breakpoint(480px) {
  h1 {
    font-size: 36px;
  }
}

/* b {
  font-weight: 900;
} */

h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin: 30px 0px;
}

@include breakpoint(480px) {
  h2 {
    font-size: 56px;
  }
}

.countdown {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

@include breakpoint(480px) {
  .countdown {
    font-size: 42px;
  }
}

@include breakpoint(480px) {
  .countdown {
    font-size: 56px;
  }
}

#preloader {
  background: #000 url('preloader.gif') no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* nav {
  background-color: #333;
  color: #fff;
} */

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background: #30197d77;
  backdrop-filter: blur(50);
  transition: 0.75s;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  display: flex;
}

.logo {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-right: 48px;
  width: 70px;
  transition: 3s;
}

.menu li:hover {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  margin-right: 48px;
  width: 70px;
  transition: 3s;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.menu-toggle {
  display: none;
}

.menu-toggle input {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-toggle span {
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
  }

  .menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .menu-toggle input:checked~ul {
    display: block;
    width: 100%;
  }

  .menu-toggle input:checked~ul li {
    text-align: center;
    margin-right: 0;
    padding: 10px 0;
  }

  .menu-toggle input:checked~ul li a {
    padding: 10px;
    font-size: 20px;
  }
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #08001f, #30197d);
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box {
  position: relative;
  width: 30%;
  margin: 1.66%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.img-box img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}

.img-box h3 {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 20px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.973);
  border: 2px solid #ffffff;
  background-color: #00000070;
  padding: 5px;
  outline: none;
  transition: 0.5s;
}

.img-box:hover img {
  transform: perspective(70%) rotateY(0deg) rotateX(0deg) scale(1.01);
  /* Add a 3D effect */
  transition: 0.5s;
}

.img-box:hover h3 {
  bottom: 20px;
  /* Move the text up */
  opacity: 1;
  /* Show the text */
}

.img-box:hover {
  width: 100%;
  cursor: pointer;
  transition: 0.5s;
}
