@mixin breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: linear-gradient(45deg, #30197d, #30197d);
}

html,
body,
header {
  height: 100%;
}
/* 
.btn-3 {
  background: linear-gradient(45deg, #0e0625, #210c5e, #30197d);
  background: #30197d;
  color: wheat;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.btn-3:hover {
  background: #30197d;
  box-shadow: 0 0 10px #00000070;
  transform: scale(1.2);
  transition: transform 0.2s ease-out;
} */

b {
  /* text-shadow: 0 0 10px #8f8f8f, 0 0 20px #8f8f8f, 0 0 30px #8f8f8f;
     */
  font-weight: 10000;
}

.thin {
  font-family: 'Roboto Thin', sans-serif;

  letter-spacing: -1px;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, #08001f, #210c5e, #30197d);
  background-color: #fff;
  line-height: 2.5;
  transition: background 0.3s ease-out;

  /*   
  border-color: #000;
  border-style: dashed;
  border-image: linear-gradient(45deg, #08001f, #30197d) 1; */
}

header:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(34, 34, 34, 0.7);
  /* border-color: #000;
  border-style: dashed; */

}

.content {
  position: relative;
  z-index: 1;

}

::selection {
  background-color: goldenrod;
  
  /* back: #ffffff; */
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 25vw; */
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-family: "Righteous", cursive;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
  
}
button {
padding: 10px 20px;
  min-width: 100px; 
  background: #a02f54;
  position: relative;
  background: #f3f0f100;
  margin-bottom: 0px;
  border-radius: 36px;
  text-align: center;
  cursor: pointer;
  transition: all 01s ease-in-out;
  color: #fff;
  outline: none;
  font-size: 70%;
/* border: none;  */
  border: 2px dashed transparent;/* Add this line to remove the border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.158);
  font-weight: 1000;
  /* overflow: hidden; */
  span {
    line-height: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: semibold;
  }
}
.button-container {
  position: relative;
}

button:hover::before {
  content: attr(hovertext);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 200px;
  padding: 10px;
  background-color: #007bff00;
  /* color: #fff; */
  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  transition: transform 0.3s ease-in-out;
}

.button-text {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff00;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), */
  /* 6px 6px 10px rgba(0, 0, 0, 0.2); */
  color: #9f8ae6;
  
  font-size: small;
  letter-spacing: 2px;
  background: #a8a8a8;

  /* transition: all 0.3s ease-in-out; */
  animation: dash 1s linear infinite alternate;
}
button:hover .button-text {
  bottom: 20px;
    /* Move the text up */
    opacity: 1;
  transition: transform 0.3s ease-in-out;
}
@keyframes dash {
  to {
    border-color: #ffffff;
  }

  from {
    border-color: currentColor;
  }
}
button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

h1 span {
  font-weight: 100;
}

@include breakpoint(480px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin: 30px 0px;
}

@include breakpoint(480px) {
  h2 {
    font-size: 56px;
  }
}

.countdown {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

@include breakpoint(480px) {
  .countdown {
    font-size: 42px;
  }
}

@include breakpoint(480px) {
  .countdown {
    font-size: 56px;
  }
}

#preloader {
  background: #000 url('preloader.gif') no-repeat center center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* nav {
  background-color: #333;
  color: #fff;
} */

nav {
  height: 12.1%;
  width: 100%;
  position: fixed;
  background: #30197d77;
  backdrop-filter: blur(10px);
  transition: 0.75s;
  z-index: 10001;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.menu-toggle .hamburger-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.menu-toggle:hover .hamburger-menu {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform 0.7s ease-in-out;
  transform: translateY(0);
}

.sticky-side {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  transition: transform 0.7s ease-in-out;
  transform: translateX(0);
}

nav.sticky.hidden {
  transform: translateY(-100%);
}
.logo {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  overflow: hidden;
  transform: scale(1.0);
  transition: transform 0.5s ease-in-out;
}

nav:hover .logo {
  /* transform: scale(0.8); */
}
.navbar {
  display: flex;
  list-style: none;
  
    
    border-radius: 10px;
    
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-menu.slide {
  max-height: 500px;
}

.navbar li {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-right: 48px;
  /* width: 70px; */
  transition: 3s;
}

/* 
.menu li:hover {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  margin-right: 48px;
  width: 70px;
  transition: 3s;
} */

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.menu-toggle {
  display: none;
}

abbr {
  text-decoration: dotted underline;
  text-emphasis: inherit;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: auto;
  text-decoration-color: #383838;
  /* cursor: cell; */
  font-weight: 700;
  color: wheat;
  font-size: 1.5rem;
}

.menu-toggle input {
  display: none;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
.bx bx-menu{
  display: none;
}
  .menu-toggle {
    display: block;
    cursor: pointer;
  }

  .menu-toggle span {
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  .menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
  }

  .menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(45deg) translate(-5px, -5px);
  }

  .menu-toggle input:checked~ul {
    display: block;
    width: 100%;

    .hamburger-menu {
      display: none;
    }
  }

  .menu-toggle input:checked~ul li {
    text-align: center;
    margin-right: 0;
    padding: 10px 0;
  }

  .menu-toggle input:checked~ul li a {
    padding: 10px;
    font-size: 20px;
  }
}

.img-box h3 {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 20px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.973);
  border: 2px solid #ffffff;
  background-color: #00000070;
  padding: 5px;
  outline: none;
  transition: 0.5s;
}

.img-box:hover h3 {
  bottom: 20px;
  /* Move the text up */
  opacity: 1;
  /* Show the text */
}

/* 
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #30197d, #30197d);
  display: flex;
  align-items: center;
  justify-content: center;
} */

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-box img {

  width: 100%;
  height: auto;
  transition: transform 0.5s;

}

.img-box {
  position: relative;
  width: 30%;
  margin: 1.66%;
  /* overflow: hidden; */
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); */
  transition: 0.5s;

}

@keyframes bounce {
  0% {
    transform: translateY(0);

  }

  50% {
    transform: translateY(-20px);

  }

  100% {
    transform: translateY(0);

  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  color: #8d8d8d;
  font-size: 30px;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;


}

.fa-angle-double-down {
  background: radial-gradient(#9583d1, #3e18b1, #4926bd, #9583d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* text-shadow: 0 0 10px #9583d1, 0 0 20px #4926bd, 0 0 30px #9583d1; */
  /* border: 2px solid white; */
}
.fa-angle-double-down:hover{
  background: radial-gradient(#705fa8, #26087e, #2c1183, #5b4d8b);
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  /* border: 2px solid #ffffff; */
  /* background: radial-gradient(#9583d1, #3e18b1, #4926bd, #9583d1); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* text-shadow: 0 0 10px #9583d1, 0 0 20px #4926bd, 0 0 30px #9583d1; */
}

.img-box:hover img {
  z-index: 9999;
  transform: scale(0.001);
  /* Add a smooth transition */
  /* transition: transform 0.s ease-in-out; */
}



.img-box:hover {
  width: 50%;
  cursor: pointer;
  /* transition: 0.5s; */
}

canvas {
  background: #232323;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background: linear-gradient(45deg, #30197d, #30197d); */
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  /* background:  */
  background: #190d4186;
  backdrop-filter: blur(10px);
  /* background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%); */
}

.info_text {
  background: linear-gradient(45deg, #30197d, #30197d);
  color: #fff;
  font-size: 1.5rem;
  align-content: center;

}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 1.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 1.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 1.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 1.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 1.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}
.main {
  color: white;
}

abbr:hover {
  text-decoration-line: none;
  cursor: pointer;

}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}
@media (max-width: 1280px) {
  #main-things {
    padding: 14px 2%;
    transition: 0.2s;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {
  .main {
    display: block;
  }

  .navbar {
    position: absolute;
    z-index: 999999;
    top: 100%;
    right: -270px;
    width: 270px;
    height: auto;
    background: #30197d86;
    backdrop-filter: blur(10px);
    box-shadow: 1 0 10px rgba(0, 0, 0, 0.5) ;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }

  .navbar a:hover {
    /* color: var(--text-color); */
    transform: translateY(5px);
  }

  .navbar.open {
    right: 0;
  }
}
/* Hide horizontal scrollbar */
body {
  overflow-x: hidden;
}


/* Hide vertical scrollbar */
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #ffffff;
    background: linear-gradient(45deg, #311b74, #210c5e, #30197d);

    backdrop-filter: blur(10px);
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  background: linear-gradient(45deg, #0e0625, #210c5e, #30197d);
  border-radius: 10px;
    box-shadow: 0 0 10px #00000070;
    backdrop-filter: blur(10px);
}
.main {
  font-size: 35px;
  
  cursor: pointer;
  z-index: 1000000000;
  display: none;
}

@media (max-width: 1090px) {
  .main {
    display: block;
  }
}
body::-webkit-scrollbar-track {
  background-color: #ffffff;
    background: linear-gradient(45deg, #311b74, #210c5e, #30197d);

    backdrop-filter: blur(10px);
}
